@use "../../assets/styles/variables.scss" as *;


.ticket-counter {
  table,
  td {
    border: 1px solid $accent-color;
    border-collapse: collapse;
  }
  td {
    background-color: $background-color;
    &:first-of-type {
      width: 75%;
    }
    &:nth-of-type(2) {
      width: 25%;
    }
  }
  table {
    width: 100%;
  }
}
