@use "../../assets/styles/variables.scss" as *;

.ticket-counter {
  display: grid;
  grid-template: 1fr 2fr / repeat(4, 1fr);
  gap: 1rem;

  &__table {
    width: 100%;
    grid-area: 2/1/3/-1;

    border-collapse: collapse;

    td {
      border: 1px solid $accent-color;

      background-color: $background-color;
      padding: 0.5rem;
      &:first-of-type {
        width: 75%;
      }
      &:nth-of-type(2) {
        width: 25%;
      }
    }
  }
}
