@use "../../assets/styles/_variables.scss" as *;

.profile {
  background-color: $accent-color;
  max-width: 75vw;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;

  margin: 5rem auto;
  padding: 2rem;

  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem $shadow-color;

  &__data {
    width: 50%;
    text-indent: 2rem;
  }

  &__tech {
    list-style-type: none;
  }

  &__name {
    text-align: center;
    text-indent: 0;
  }

  &__heading {
    font-weight: bold;
    text-indent: 0;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &__name {
      text-align: left;
    }
  }
}
