@use "../../assets/styles/_variables.scss" as *;

.ticket-counter {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1rem;
  text-align: center;

  &__open {
    grid-area: 2/1/3/3;
    .ticket-counter__counter {
      color: green;
    }
  }

  &__closed {
    grid-area: 2/3/3/5;
    .ticket-counter__counter {
      color: red;
    }
  }

  &__total {
    grid-area: 3/1/4/5;
    .ticket-counter__counter {
      color: black;
    }
  }

  &__counter {
    font-size: 2rem;
  }

  /* 
  &__open {
    grid-area: 1/1/2/3;
  }

  &__closed {
    grid-area: 1/3/2/5;
  }

  &__total {
    grid-area: 2/1/3/5;
  }
 */
}
