@use "../../assets/styles/variables.scss" as *;

.button {
  background-color: $accent-color;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;

  &:hover {
    border: 1px solid $background-color;
    cursor: pointer;
  }

  &__image {
    height: 1.5rem;
    aspect-ratio: 1;
  }
}
