.tile-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;

  &__form {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__name-input {
    border: none;
    margin: 1rem;
    height: 1.6rem;
    padding: 0.3rem;
    font-size: 1rem;
  }

  &__role-input {
    border: none;
    margin: 1rem;
    height: 2rem;
    font-size: 1rem;
    appearance: none;
    padding: 0.3rem;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
