.tile-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &__form {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
