.tile-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &__form {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
