@use "./assets/styles/variables.scss" as *;

* {
  color: $text-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin: 0;
  padding: 0;
}
body {
  background-color: $background-color;
}
