@use "../../assets/styles/_variables.scss" as *;

.profile {
  background-color: $accent-color;

  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;

  width: fit-content;
  margin: auto;
  padding: 1rem;

  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem $shadow-color;

  &__tech {
    text-indent: 25%;
    list-style-type: none;
  }

  &__name {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &__name {
      text-align: left;
    }
  }
}
